.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1555px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -36px 0 0 auto;
}

.u-section-1 .u-text-4 {
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  animation-duration: 1000ms;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-6 {
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-7 {
  animation-duration: 1000ms;
  margin: 13px 0 0 510px;
}

.u-section-1 .u-text-8 {
  animation-duration: 1000ms;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-9 {
  animation-duration: 1000ms;
  margin: 20px 0 0 510px;
}

.u-section-1 .u-text-10 {
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-11 {
  animation-duration: 1000ms;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-12 {
  animation-duration: 1000ms;
  margin: 20px 537px 0 0;
}

.u-section-1 .u-text-13 {
  animation-duration: 1000ms;
  margin: 20px 0 0 510px;
}

.u-section-1 .u-text-14 {
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-15 {
  animation-duration: 1000ms;
  margin: 20px 0 0 510px;
}

.u-section-1 .u-text-16 {
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-17 {
  animation-duration: 1000ms;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-18 {
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-19 {
  animation-duration: 1000ms;
  margin: 20px 0 0 510px;
}

.u-section-1 .u-text-20 {
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-21 {
  animation-duration: 1000ms;
  margin: 20px 0 0 510px;
}

.u-section-1 .u-text-22 {
  animation-duration: 1000ms;
  margin: 20px 599px 0 0;
}

.u-section-1 .u-text-23 {
  animation-duration: 1000ms;
  margin: 20px 0 0 510px;
}

.u-section-1 .u-text-24 {
  animation-duration: 1000ms;
  margin: 20px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-7 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 337px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 399px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-7 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 117px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 179px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(#fff3b2, #ff9b93);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 60px;
}