.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 234px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 56px auto 0 73px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: -50px 73px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(#fff3b2, #ff9b93);
}

.u-section-2 .u-sheet-1 {
  min-height: 2619px;
}

.u-section-2 .u-text-1 {
  margin: 29px auto 0 44px;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 215px;
  height: 342px;
  margin: 11px 445px 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 11px auto 0 422px;
}

.u-section-2 .u-text-10 {
  margin: 11px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 220px;
  height: 353px;
  margin: 44px 443px 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 20px auto 0 422px;
}

.u-section-2 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-15 {
  margin: 20px auto 44px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 36px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 348px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 28px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 267px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 21px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 325px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 200px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 320px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 125px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 126px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 120px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 126px;
  }
}.u-section-3 {
  background-image: linear-gradient(#ff9b93, #fff3b2);
}

.u-section-3 .u-sheet-1 {
  min-height: 1199px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 44px;
}

.u-section-3 .u-image-1 {
  width: 428px;
  height: 428px;
  margin: 30px auto 0 44px;
}

.u-section-3 .u-text-2 {
  margin: -416px 65px 0 538px;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0 154px;
}

.u-section-3 .u-text-4 {
  margin: 134px 587px 0 82px;
}

.u-section-3 .u-image-2 {
  width: 358px;
  height: 358px;
  margin: -358px 60px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 44px 151px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 36px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 403px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 127px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 469px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 28px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 183px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 97px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 249px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 21px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 21px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 3px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 73px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 69px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -421px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 46px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 51px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -454px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 103px;
    margin-right: 45px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 527px;
}

.u-section-4 .u-text-1 {
  margin: 20px 1001px 0 0;
}

.u-section-4 .u-text-2 {
  margin: -13px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 801px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 581px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 201px;
  }
}